body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 43, 12);
}
canvas {
    border: 1px solid black;
    background-color: rgb(133, 183, 90);
      image-rendering: pixelated;
  image-rendering: crisp-edges;
}